<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sqless.sqlessmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activities.SignInActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DatabaseActionsActivity"
            android:label="@string/title_activity_database_actions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.TableDetailsActivity" />
        <activity
            android:name=".ui.activities.CreateTableActivity"
            android:label="@string/title_activity_create_table" />
        <activity android:name=".ui.activities.QueryResultActivity" />
        <activity
            android:name=".ui.activities.MapleActivity"
            android:label="@string/title_activity_maple" />
    </application>

</manifest>