body {
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:#fefefe;
	color:#333;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    white-space: nowrap;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead tr {
    padding: 8px;
}

tr > td:first-child {
    background-color: white;
    color: #A0A0A0;
    width: 10px;
}

.null-value {
    background-color: #F7F7F7;
    color: #969696;
}
											